@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--accent-color: #1080c9;
}

body {
	background-color: #cde;
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0;
}

div.content {
	margin: 0 auto;
	padding: 10px 20px;
	max-width: 800px;
}

header, footer, #contents-button {
	color: #fff;
	box-shadow: 0px 0px 10px #0005;
	background-color: var(--accent-color);
}

header {
	position: sticky;
	top: -130px;
}

footer {
	position: sticky;
	bottom: 0;
}

header, footer, main {
	width: 100%;
}

main {
	flex-grow: 1;
}

.main-container {
	background-color: #fff;
	box-shadow: 0px 0px 10px #0005;
	padding: 20px;
}

h1, span.alt, span.sup {
	text-align: center;
	margin: 0;
	line-height: 40px;
	font-size: 20pt;
	font-weight: bold;
	display: block;
}

span.alt {
	font-style: italic;
}

div.sub {
	margin-top: 10px;
	height: 20px;
}

header, footer, h2, #contents-button {
	font-family: 'PT Sans Caption', 'DejaVu Sans Condensed', sans-serif;
}

h2 {
	font-size: 16pt;
	text-align: center;
}

p {
	font-family: 'PT Serif', 'DejaVu Serif;', serif;
	text-align: justify;
	margin: 5px 0px;
	text-indent: 2em;
}

span.comment {
	display: none;
}

span.wrong, span.missing {
	background-color: #faa;
	padding: 0px 5px;
	border-radius: 5px;
}

a {
	color: inherit;
	border: 1px solid;
	border-radius: 5px;
	padding: 0px 5px;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	background-color: #0005;
}

#contents-button {
	position: absolute;
	left: 0;
	top: 190px;
	
	border: none;
	text-decoration: none;
	padding: 0;
	border-radius: 0px 5px 5px 0px;
	min-width: 10%;
}

#contents-button > span {
	display: block;
	padding: 10px;
	border-radius: inherit;
}

#contents-button:hover > span {
	cursor: pointer;
	background-color: #0005;
}