@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	background-color: #eef;
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0;
	font-family: 'PT Sans Caption', 'DejaVu Sans Condensed', sans-serif;
}

.content {
	margin: 0 auto;
	padding: 10px 20px;
	max-width: 900px;
}

.book {
	height: 40vh;
	background-color: black;
	width: 8vh;
	margin-top: 6vh;
	transition: transform 0.2s ease-out;
	position: relative;
	display: inline-flex;
	flex-direction: column;
}

.book:hover {
	transform: scale(1.15);
	z-index: 1;
}

.title {
	height: 40%;
	margin-top: 1vh;
}