<header>
	<div class="content">
		<h1>Nouveau Testament $VOLUME</h1>
		<div class="sub">
			<a href="$PARENT">Retour</a>
			<span id="additional-info"></span>
		</div>
		<script type="text/javascript">
			const VOLUMENAME = '$VOLUME';
		</script>
	</div>
</header>
<main>
	<div class="content">
		<ul>
			$CHAPTERS
		</ul>
	</div>
</main>